results/res-*
.stgit*
.deps
*.gcov
*.bak
*~
*.IGC
*.dbf
*.shp
*.shx
\#*#
*.orig
*.rej
*.log
*.dmp
*.stackdump
*.so
*.gcno
*.gcno.info
*.gcda
*.gcda.info
app_*.info
Doc/html/*
Doc/cloc.txt
output
perf.data
